@import "./../shared/shared";

.main-header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include between-centered();
  padding: toRem(20) toRem(16);

  @media (min-width: $lg) {
    padding: toRem(24) toRem(80);
  }
  @media (min-width: $two-xl) {
    padding: toRem(40) toRem(101);
  }

  .logo {
    width: toRem(97);
    cursor: pointer;

    @media screen and (min-width: $lg) {
      width: toRem(111);
    }
    @media screen and (min-width: $two-xl) {
      width: toRem(160);
    }
    @include fade-hover(opacity, 300ms, 0.6);

    img {
      width: 100%;
      height: auto;
    }
  }

  .toggle-btn {
    background-color: #0000;
    width: toRem(32);
    height: toRem(24);
    padding: toRem(6) toRem(4);
    @include column-flex();
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: $lg) {
      width: toRem(40);
      height: toRem(30);
      padding: toRem(7.6) toRem(5);
    }

    .toggle-line {
      transition: all 0.3s ease-out;
      background-color: var(--black-100);
      width: toRem(24);
      height: toRem(2);
    }

    &.opened {
      position: relative;
      justify-content: flex-start;

      .toggle-line.top {
        position: absolute;
        transform: rotateZ(45deg);
      }

      .toggle-line.bottom {
        position: absolute;
        transform: rotateZ(-45deg);
      }
    }
  }
}

.nav {
  display: none;
  position: fixed;
  z-index: 4;
  min-width: toRem(280);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100vw;
  background-color: var(--main-black);
  transition: all 0.3s ease-out;
  padding: toRem(69) 0 toRem(54);
  overflow: auto;
  @include custom-scrollbar();

  @media (min-width: $lg) {
    padding: toRem(78) 0 toRem(54);
  }
  @media (min-width: $two-xl) {
    padding: toRem(110) 0 toRem(54);
  }

  .nav-list__container {
    width: 100%;
    height: 100%;

    .nav-list {
      margin: 15% 0;
      @include column-flex();
      width: 100%;
      list-style: none;
      gap: toRem(64 - 32);

      @media (min-width: $lg) {
        gap: toRem(56 - 32);
        margin: toRem(208 - 78) 0 toRem(32);
      }
      @media (min-width: $two-xl) {
        margin: toRem(208 - 131) 0 toRem(32);
      }

      .nav-item {
        align-self: flex-start;
        cursor: pointer;
        font-weight: 700;
        font-size: toRem(32);
        line-height: toRem(29);
        padding: toRem(16);
        color: var(--main-color);

        @media (min-width: $lg) {
          padding: toRem(16) toRem(80);
          font-size: toRem(48);
          line-height: toRem(48);
        }
        @media (min-width: $two-xl) {
          padding: toRem(16) toRem(131);
          font-size: toRem(64);
          line-height: toRem(64);
        }

        a {
          width: 100%;
          cursor: pointer;
          font-weight: 700;
          font-size: toRem(32);
          line-height: toRem(29);
          color: var(--main-color);

          @media (min-width: $lg) {
            font-size: toRem(48);
            line-height: toRem(48);
          }
          @media (min-width: $two-xl) {
            font-size: toRem(64);
            line-height: toRem(64);
          }
          @media (hover: hover) {
            &:hover {
              font-weight: 900;
              color: var(--purple-30);
            }
          }
        }

        &.active {
          color: var(--main-purple);
        }

        @media (hover: hover) {
          &:hover {
            font-weight: 900;
            color: var(--purple-30);
          }
        }
      }
    }
  }
}
